div.navbar
  a.navbar-brand(href="/") Cosife
  ul.nav.navbar-nav
    - var obj = { 'home':'Home', 'record':'Record', 'list': 'List' }
      - each val, key in obj
        - if (active == key)
          li.active
            - if (key == 'home')
              a(href="/") #{val}
            - else
              a(href="/#{key}") #{val}
        - else
          li
            - if (key == 'home')
              a(href="/") #{val}
            - else
              a(href="/#{key}") #{val}
